global
    log stdout format raw local0 info
defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 60s
    timeout server 60s
frontend subscribers
    bind :5061 ssl crt /etc/siphon/pki/combined.pem
    default_backend notifier
backend notifier
    server notifier 203.0.113.10:5061 ssl verify none
